$primary-color: #454545;
$secondary-color: #6c757d;
$success-color: #28a745;
$danger-color: #dc3545;
$light-color: #ffcf31;
$dark-color: #212529;
$border-color: #dee2e6;
$text-light: #999;
$dark-bcg-color: #252523;
$main-color: #fffce3;

$message-sent-bg: $primary-color;
$message-received-bg: #e9ecef;
$message-text-sent: white;
$message-text-received: $dark-color;
